{% extends "base.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  {% block title %} Home {% endblock title %}
</head>
<body>
{% block content %}
  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex flex-column justify-content-center align-items-center">
    <div class="container text-center text-md-left" data-aos="fade-up">
      <h1>Welcome to <span>NFTBook</span></h1>
      <h2>Not a facebook. Just wikis for NFTs</h2>
    </div>
  </section><!-- End Hero -->
  <!-- ======= What We Do Section ======= -->
  <section id="what-we-do" class="what-we-do">
    <div class="container">
      <div class="section-title">
        <h2>Know the NFTs</h2>
        <p>A simple Wiki and its API for each NFT wiki for the popular NFTs</p>
      </div>
    </div>
  </section>
  <!-- End What We Do Section -->
  {% include "nfts/includes/trending-nfts-section.html" %}
  {% include "nfts/includes/upcoming-nfts-section.html" %}
{% endblock content %}
</body>
</html>
